<div>
  <div nz-row>
    <h1 nz-card-grid [ngStyle]="gridStyle">Worhout</h1>
  </div>

  <div nz-row>
    <div nz-col nzFlex="2">
      <nz-card
        nzType="inner"
        style="margin-top: 16px"
        nzTitle="Post New Worhout"
      >
        <form nz-form [formGroup]="workoutForm" (ngSubmit)="submitForm()" class="custom-form">
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input the calories!">
              <input
                type="text"
                nz-input
                formControlName="caloriesBurned"
                placeholder="Enter the calories you Burned"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input the duration!">
              <input
                type="number"
                nz-input
                formControlName="duration"
                placeholder="enter duration"
              />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Please input the Date">
              <nz-date-picker
                style="width: 100%"
                formControlName="date"
              ></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nzErrorTip="Please input the type!">
            <nz-form-control>
              <nz-select
                nzAllowClear
                nzPlaceHolder="Select the type"
                formControlName="type"
              >
                <nz-option
                  *ngFor="let type of listOfType"
                  [nzLabel]="type"
                  [nzValue]="type"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <button
            nz-button
            nzType="primary"
            nzBlock
            [disabled]="workoutForm.invalid"
            class="w-100"
          >
            Post Workout
          </button>
        </form>
      </nz-card>
    </div>
  </div>
</div>
